/* style.css */
:root {
  --bg-color: #fff;
  --text-color: #222328;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid #000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

header {
  height: 100px;
  position: relative;
}

header h1 {
  position: absolute;
  top: 28px;
}

header nav {
  position: absolute;
  right: 0;
  top: 40px;
}

header nav > .depth1 {
  display: flex;
}

header nav > .depth1 > li {
  outline: 1px solid #333;
  width: 6rem;
}
